.cart-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 21px;
    width: 400px;
    margin-bottom: 16px;
    background-color: rgb(227, 232, 237);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.cart-item .left img {
    height: 100px;
}

.cart-item p{
    margin-bottom: 4px;
}

.cart-item .product-price{
    font-size: 26px;

    color: orangered;
}

.cart-item .right{
    margin-left: auto;
}

/* ============== */